<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div>
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Category</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products">
          <td>{{ p.prodName }}</td>
          <td>{{ p.prodPrice }}</td>
          <td>{{ p.category }}</td>
          <td *ngIf="products != null">
            <button type="button" class="btn btn-info" (click)="addToCart(p)">
              Add To Cart
            </button>
          </td>
          <td *ngIf="products != null">
            <button type="button" class="btn btn-danger" (click)="buy()">
              Buy
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
